{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gentilesse App</title>
	{% bootstrap_css %}
	<link href="{% static 'css/tracker.css' %}" rel="stylesheet">
	{% block css %}{% endblock %}
	<script src="{% bootstrap_jquery_url %}"></script>
	<script type="text/javascript" src="/static/js/flot/jquery.flot.min.js"></script>
	<script type="text/javascript" src="/static/js/flot/jquery.flot.time.js"></script>
	{% block js %}{% endblock %}

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'list-points' %}">Gentillesse App</a>
        </div>
			<a type="button" class="btn btn-default btn-sm navbar-btn navbar-right" href="{% url 'logout' %}">
			<span class="glyphicon glyphicon-log-out"></span>Logout
			</a>
			<a class="btn btn-default btn-sm navbar-btn navbar-right" href="{% url 'list-label' %}">Manage Labels</a>
			
          <!--<form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          -->
        <!--/.navbar-collapse -->
      </div>
    </div>


    <div class="container">
      
		<div class="page-header">
        <h1>Hello, {{ request.user }}, welcome back to the Tracker</h1>
      </div>
      <!-- Example row of columns -->
      <div class="row">
		{% bootstrap_messages %}
        {% block content %}{% endblock %}
      </div>

      <hr>

      <footer>
        <p>&copy; KenH 2014</p>
      </footer>
    </div> <!-- /container -->
    {% bootstrap_javascript %}
	{% block js_end %}{% endblock %}
  </body>
</html>
