{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

{% if users.count %}
  {% for user in users %}
  <div class="panel panel-default">
    <div class="panel-heading">
		<h2 class="panel-title">{{ user.username }}<span class="badge">{{ user.total_points }}</span></h3>
	</div>
    <div class="panel-body">
	      
    {% if labels.count %}
      {% for label in labels %}
        <div class="btn-group">
          <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown">
	        {{ label.name }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
			{% for i in "xxxxx" %}
            <li><a href="{% url 'add-points' user.username forloop.counter label.name %}">+{{ forloop.counter }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      {% else %}
      No labels yet !
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="panel panel-default">
    <div class="panel-heading">No users</div>
  </div>
  {% endif %}
  

<div class="panel panel-default">
  <div class="panel-heading">History</div>
  <div class="panel-body">
	  {% if points.count %}
    <table class="table table-condensed">
		{% for point in points %}
		<tr>
			<td>
			<span class="glyphicon glyphicon-hand-right"></span>
			<small><b>{{ point.by.username }}</b> gave <b>{{ point.points }}</b> points to <b>{{ point.to.username }}</b> on {{ point.date }}. <span class="label label-default">{{ point.label.name }}</span></small>
			</td>
		</tr>
		{% endfor %}
	</table>
      {% else %}
      No points given yet
      {% endif %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Graphs</div>
  <div class="panel-body">
    Graphical content
  </div>
</div>


{% endblock %}
